.preview {
    @extend .col-md-12;

    @include media-query(xs) {
        width: 100%;
        overflow-x: hidden;
        .input-group-addon, .input-group-btn, .input-group .form-control {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            clear: both;
        }
        .input-group {
            display: block;
        }
    }
}

.media {
    background-color: rgba(white, .9);
    margin: 1em auto !important;
    border: 1px solid $gray-light;

    .fa.fa-times {
        padding: 1em;
        cursor: pointer;

        &:hover {
            color: $brand-primary;
        }
    }

    .media-left {
        img {
            width: 200px;
            height: 200px;

            object-fit: cover;
        }
        .embed-responsive {
            min-width: 300px;
        }
    }

    .media-body {
        padding: 1em;
        cursor: pointer;
        vertical-align: middle;

        .embed-responsive {
            margin-bottom: 1em;
        }

        .media-heading {
            color: $brand-primary;
        }

        .media-provider {
            margin-top: 1em;
            img {
                max-width: 24px;
                margin-right: .5em;
            }
        }
    }
}