.media {
    background-color: white;
    margin: 1em auto !important;
    border: 1px solid $gray-light;

    .media-left {
        img {
            max-width: 150px;
        }
    }

    .media-body {
        padding: 1em;
        cursor: pointer;

        .media-heading {
            color: $brand-primary;
        }

        .media-provider {
            img {
                max-width: 24px;
                margin-right: .5em;
            }
        }
    }
}